@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.header {
  background-color: #363f47;
  padding-bottom: 54px;
}

.header img {
  filter: brightness(100);
  height: 55px;
}

.content .container > div:first-child {
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 1px 3px 0px #eee;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,.13);
    padding: 7px 19px;
    position: relative;
    z-index: 3;
    margin-top: -69px;
}

#loading h3 {
  border-bottom: 1px solid #e0e0e0;
  padding: 14px 19px;
  margin: 20px 0 0;

  border: 1px solid #e0e0e0;
  border-bottom: 0px none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px 1px 3px 0 #eee;
  box-shadow: 0px 0.5px 1.5px 0.5px rgba(0,0,0,.065);
  position: relative;
  z-index: 1;
}

#loading table {
  border-collapse: separate !important;
  border: 1px solid #e0e0e0;
  border-top: 0 none;
  border-radius: 0px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 1px 3px 0 #eee;
  box-shadow: 0px 0.5px 1.5px 0.5px rgba(0,0,0,.065);
  position: relative;
  z-index: 2;
}

#loading tr td {
  color: #999;
  flex: 1 0;
  padding: 14px 19px;
}

#loading tr {
  border-top: 1px solid #e0e0e0;
  display: block;
  display: flex;
}

.wrapper > div.container:last-child {
  color: #999;
}

table td.ok::after {
  font-family: 'Material Icons';
  font-weight: normal !important;
  font-style: normal;
  font-size: 1.4em !important;
  display: inline-block;
  line-height: 1;
  text-transform: none !important;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  
  content: "check_circle" !important;
}

table td.down::after {
  font-family: 'Material Icons';
  font-weight: normal !important;
  font-style: normal;
  font-size: 1.4em !important;
  display: inline-block;
  line-height: 1;
  text-transform: none !important;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  
  content: "error_outline" !important;
}

table td.degraded::after {
  font-family: 'Material Icons';
  font-weight: normal !important;
  font-style: normal;
  font-size: 1.4em !important;
  display: inline-block;
  line-height: 1;
  text-transform: none !important;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  
  content: "info_outline" !important;
}

table td.maintenance::after {
  font-family: 'Material Icons';
  font-weight: normal !important;
  font-style: normal;
  font-size: 1.4em !important;
  display: inline-block;
  line-height: 1;
  text-transform: none !important;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  
  content: "network_locked" !important;
}